@model EntityLayer.Entities.Vehicle
@{
    ViewBag.Title = "VehicleUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-file-text-o"></i>Araç Bilgileri Güncelle</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Admin/Index/">Anasayfa</a></li>
            <li><i class="icon_document_alt"></i><a href="/Admin/Vehicle/">Araçlar</a></li>
            <li><i class="fa fa-file-text-o"></i><a href="/Admin/VehicleUpdate/">Araç Güncelleme</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Araç Bilgileri Güncelle
            </header>
            <div class="panel-body">
                <form class="form-horizontal " method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "btn btn-danger" })
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Plaka</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Plate" value="@Model.Plate">
                            @Html.ValidationMessageFor(x => x.Plate, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Araç Tipi</label>
                        <div class="col-sm-10">
                            @*<input type="text" class="form-control" name="TypeId" value="@Model.TypeId">
                            @Html.ValidationMessageFor(x => x.TypeId, "", new { @style = "color:red" })*@
                            @Html.DropDownListFor(x => x.TypeId, (List<SelectListItem>)ViewBag.VehicleType, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TypeId, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Model Yılı</label>
                        <div class="col-sm-10">
                            <input id="dp1" type="text" size="16" class="form-control" name="ModelYear" value="@Model.ModelYear">
                            @Html.ValidationMessageFor(x => x.ModelYear, "", new { @style = "color:red" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Renk</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Color" value="@Model.Color">
                            @Html.ValidationMessageFor(x => x.Color, "", new { @style = "color:red" })

                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Güncelle</button>
                </form>
            </div>
        </section>
    </div>
</div>



