@model List<EntityLayer.Entities.VehiclesType>

@{
    ViewBag.Title = "VehicleType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <h3 class="page-header"><i class="fa fa-car"></i> Firma Araç Tipi</h3>

    <div class="card shadow mb-4">
        <div class="card-header py-3" style="padding-bottom:5px;text-align: right;">
            <a class="btn btn-success" href="/Admin/VehicleTypeAdd/">Araç Tipi Ekle</a>
        </div>
        <div class="card-body">
            <div class="table-responsive table table-striped">
                <table class="table table-bordered " id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Kapasite (KG)</th>
                            <th>Kapasite (M3)</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.TypeId</td>
                                <td>@item.Brand</td>
                                <td>@item.Model</td>
                                <td>@item.CapacityKg</td>
                                <td>@item.CapacityM3</td>
                                <td>
                                    <a class="btn btn-primary" href="/Admin/VehicleTypeUpdate/@item.TypeId">Düzenle</a>
                                    @Html.ActionLink("Sil", "TypeDelete", new { item.TypeId }, new { @class = "btn btn-danger", onclick = "return confirm ('Silmek istediğinize emin misiniz?')" })
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>

</div>

