@model List<EntityLayer.Entities.Vehicle>
@{
    ViewBag.Title = "Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <h3 class="page-header"><i class="fa fa-car"></i> Firma Araçları</h3>

    <div class="card shadow mb-4">
        <div class="card-header py-3" style="padding-bottom:5px;text-align: right;">
            <a class="btn btn-success" href="/Admin/VehicleAdd/">Araç Ekle</a>
        </div>
        <div class="card-body">
            <div class="table-responsive table table-striped">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Plaka</th>
                            <th>Tip Id</th>
                            <th>Model Yılı</th>
                            <th>Renk</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Plate</td>
                                <td>@item.TypeId</td>
                                <td>@item.ModelYear</td>
                                <td>@item.Color</td>
                                <td>
                                    <a class="btn btn-primary" href="/Admin/VehicleUpdate/@item.Id">Düzenle</a>
                                    @Html.ActionLink("Sil", "Delete", new { item.Id }, new {@class="btn btn-danger",onclick="return confirm ('Silmek istediğinize emin misiniz?')"})
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>

</div>



